<% include partials/header %>
<h1>Log in</h1>

<form action="/login" method="post" accept-charset="utf-8">
	<label>User Name<input type="text" name="username" value=""></label>
	<label>Password<input type="text" name="password" value=""></label>
	<button type="submit">Log in</button>
</form>

<% include partials/footer %>