<% include  partials/header %>
<h1>Sign Up</h1>
<form action="/register" method="post" accept-charset="utf-8">
	<label>User Name<input type="text" name="username" value=""></label>
	<label>Password<input type="text" name="password" value=""></label>
	<button type="submit">Sign Up</button>
</form>

<% include  partials/footer %>